<!-- reservas/templates/reservas/crear_reserva.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Reserva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Crear Nueva Reserva</h1>

        <!-- Formulario de Reserva -->
        <form method="POST">
            {% csrf_token %}
            
            <!-- Muestra los campos del formulario -->
            {{ form.as_p }}
            

            <div class="d-flex justify-content-center">
                <a href="{% url 'index' %}" class="btn btn-primary me-2">Inicio</a>
                <button type="submit" class="btn btn-primary">Crear Reserva</button>
            </div>
            

            
        </form>

        <!-- Mostrar los errores del formulario -->
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            var cantidadPersonas = document.querySelector('input[name="cantidad_personas"]').value;
            
            if (cantidadPersonas < 1 || cantidadPersonas > 15) {
                event.preventDefault(); // Evita que el formulario se envíe
                alert('La cantidad de personas debe estar entre 1 y 15.');
            }
        });
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
